<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" formControlName="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-select" aria-label="Default select example" name="status" id="status" formControlName="status" class="form-control">
                    <option selected>Seleziona uno stato</option>
                    <option value="pending">Pending</option>
                    <option value="completed">Completed</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </form>
    </div>
</div>